
.text {
    font-family: 'freight-sans-pro','Helvetica','Avenir','Arial',sans-serif;
    font-weight: 300;
    line-height: 44px;
}
.navbar-inverse
{
    background-color: white;
    border: none;
}
.navtext
{
    color: black;
}
ul.nav a:hover 
{ 
    color: #000 !important; 
}
#header
{
    margin-top: -20px;
    text-align: center;
}
.date {
    max-width: 200px;
}
